.quiz {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url(https://github.com/veernahar/web/blob/master/q.jpg) center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}