.quiz {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url(https://combinatronics.com/veernahar/web/master/dev/q.jpg) center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.wrong_answer{
    border: 4px solid red !important;
}

.correct_answer{
    border: 4px solid green !important;
}