.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: black;
    height: 270px;
}

.demo-card-wide > .mdl-card__title__2 {
    color: black;
    height: 270px;
    margin-top: 0
}
.demo-card-wide > .mdl-card__title__no-image {
    color: black;
    padding-top: 20px;
    padding-left: 20px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}